<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Updater.Properties.Settings>
            <setting name="_webpath" serializeAs="String">
                <value>http://counterstrike.googlecode.com/files/cslive.zip</value>
            </setting>
            <setting name="_processPath" serializeAs="String">
                <value>Server/bin/Debug/Server.exe</value>
            </setting>
            <setting name="_interval" serializeAs="String">
                <value>01:00:00</value>
            </setting>
        </Updater.Properties.Settings>
    </userSettings>
</configuration>