<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Server.Properties.Settings>
            <setting name="_WebPort" serializeAs="String">
                <value>5300</value>
            </setting>
            <setting name="_PolicyPort" serializeAs="String">
                <value>943</value>
            </setting>
            <setting name="_GameServerPort" serializeAs="String">
                <value>4530</value>
            </setting>
            <setting name="_Map" serializeAs="String">
                <value>Content/map.xml</value>
            </setting>
            <setting name="_ServerName" serializeAs="String">
                <value>Counter Strike Live Server</value>
            </setting>
            <setting name="_allowedIps" serializeAs="String">
                <value>.*</value>
            </setting>
        </Server.Properties.Settings>
    </userSettings>
</configuration>